<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheWineCellarMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/lucida-handwriting-std" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Wine Cellar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--If statement that allows only users with admin in their username to access the Role page - Display only these specific pages-->
                        @if (User.Identity.IsAuthenticated && User.Identity.Name.Contains("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Role" asp-action="Index">Add Role</a>
                            </li>
                        }
                        <!--If statement to check if a user is logged in and in the role of Administrator - Display only these specific pages-->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Products" asp-action="List">View Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Farmers" asp-action="List">View Farmers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Farmers" asp-action="Index">Add Farmer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Products" asp-action="Index">Add Product</a>
                            </li>
                        }
                        <!--If statement to check if a user is logged in and in the role of Employee - Display only these specific pages-->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Products" asp-action="List">View Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Farmers" asp-action="List">View Farmers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Farmers" asp-action="Index">Add Farmer</a>
                            </li>
                        }
                        <!--If statement to check if a user is logged in and in the role of Farmer - Display only these specific pages-->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Farmer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-weight: bold; font-size: large" asp-area="" asp-controller="Products" asp-action="Index">Add Product</a>
                            </li>
                        }
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
