<body>
    <div class="text-center">
        <h1 class="main-heading">The Wine Cellar</h1>
        <p style="font-size: 20px">Experience the highest quality wines in South Africa</p>
    </div>
</body>
