@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<div>
    <div>
        @*Social Links and Developer Contact*@
        <label>Develper Email: <a href="mailto:fowlessean@yahoo.com">fowlessean@yahoo.com</a></label>
        <br />
        <label> Facebook Account:
            <a href="https://www.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Facebook_f_logo_%282021%29.svg/768px-Facebook_f_logo_%282021%29.svg.png?20210818083032" width="30" height="30"></a>
        </label>
    </div> 
</div>
<div id="productCard" class="card">
    <div id="productCard" class="container" style="background-color: transparent;">
        <p style="font-size: 20px">The Wine Cellar is a premier wine retail company offering an exceptional selection of wines from around South Africa. With a passion for curating diverse and exquisite collections, we cater to both wine enthusiasts and connoisseurs. Our knowledgeable team handpicks a wide range of varietals, vintages, and blends, ensuring only the highest quality wines are stocked in our store. Committed to outstanding customer service, we aim to build lasting relationships and guide customers in selecting the perfect wine for any occasion. Through tastings, events, and educational resources, we share our appreciation for the art, culture, and passion of winemaking. Whether for special occasions or expanding your cellar, The Wine Cellar provides exceptional wines and an unparalleled experience.</p>
        </div>
</div>